!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{name: "HandheldFriendly", content: "True"}
    %meta{name: "MobileOptimized", content: "320"}
    
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}

    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "black-translucent", name: "apple-mobile-web-app-status-bar-style"}
    %meta{content: "yes", name: "apple-touch-fullscreen"}
    %meta{content: "yes", name: "mobile-web-app-capable"}

    %title Cover Template for Bootstrap

    = stylesheet_link_tag "bootstrap.min", media: "all"
    = stylesheet_link_tag "style", media: "all"

    = javascript_include_tag 'jquery-2.1.1.min.js', 'application', 'rails', 'fastclick.js', 'jquery.mobile.custom.min'
  %body
    .navbar.navbar-default.navbar-static-top{'role' => 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'type'=> :button, 'data-toggle' => :collapse, 'data-target' => '.navbar-collapse'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -if @current_user  
            %a.navbar-brand{'href' => '/'}
              = @current_user.wallets.first.amount
              UAH
              %span.glyphicon.glyphicon-plus
        .navbar-collapse.collapse{style: "height: auto;"}
          %ul.nav.navbar-nav
            - if @current_user
              %li.ac1tive
                = link_to (t :transactions), transactions_url
            %li
              - if @current_user
                = link_to (t :signout), logout_url
              - else
                = link_to (t :open_wallet), login_url
            
            - if @current_user.nil?
              %li
                = link_to (t :create_wallet), register_url
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            =yield
          .mastfoot
            .inner
              %p
                =t :site_title
                —
                =t :footer_slogan
    = javascript_include_tag 'bootstrap.min'

    :javascript
      $(function() {
        FastClick.attach(document.body);
      });